.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.row > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

select {
    display: inline-block;
    width: 80%;
    height: 20px;
}