* {
    margin: 0px;
    padding: 0px;
}

main {
    width: 60%;
    margin-left: 20%;
}

header {
    background-color: blue;
    color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    /* 수직정렬 */
    align-items: center;
    padding: 0px 20px;
}
article {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
article ul {
    /* 전체(60%)의 80% */
    width: 80%;
    background-color: beige;
    list-style-type: none;
}

article li {
    display: flex;
    align-items: center;
    height: 10px;
    padding: 10px;
    border: 1px dotted grey;
}

article a:hover {
    background-color: yellowgreen;
    color: blue; 
}

article a {
    text-decoration: none;
    color: black;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section > h1 {
    /* flex > 수평, 수직 정렬 가능 */
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

section > div {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dotted blue;
    padding: 20px;
    margin: 10px;
}