button {
    width: 100px;
    height: 40px;
    background-color: skyblue;
    color: black;
    border: 0px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

h2 {
    font-size: medium;
    color: blue;
}

.btGroup > button {
    background-color: yellow;
}

#btArea2 > button{
    background-color:green;
}

#bt3 {
    background-color: purple;
}
